@model web.ViewModels.PostModel

<div>
    <div class="image-square" style="background-image:url('@Model.ImageUrl')"></div>
    <strong class="float-right">@@@Model.EnteredBy.Username</strong>
    <p>@Model.Caption</p>
</div>