@model web.ViewModels.HomeModel

@{
    ViewData["Title"] = "Home Page";
}

@if(User.Identity.IsAuthenticated)
{
    <form>
    
    </form>
}

@foreach(var post in Model.Posts)
{
    @Html.DisplayFor(model => post)
}